d>
	<title>CSE198 Bluetooth Sniffer</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    </script>    
</head>

<body>
  <div class="container">
    <h3>Data Collected</h3>
    <hr />
  </div>
        <div id="chart_div" alight="centeR" style="width: auto; height: 600px; margin-top: -40px;"></div>

  <div class="container panel-group" id="accordion">
    <div id="wrapper">
          <div class="chart">
              <a href="#data-table" data-toggle="collapse" data-parent="#accordion"><h3>MAC Address List</h3></a>

              <table id="data-table" border="1" cellpadding="10" cellspacing="0" class="panel-collapse collapse">
                  <thead>
                      <tr>
                        <td>&nbsp;</td>
                        <th scope="col">MAC Address</th>
                        <th scope="col">Date Found</th>
                        <th scope="col">Found On</th>
                      </tr>
                  </thead>
                  <tbody>
                    <script>
                      var i = 1;
                    </script>
                    {{#each projects}}
                      <tr>
                        <script>
                          document.write("<td>" + i.toString() + "</td>");
                          i = i + 1;
                        </script>
                        <td>{{mac}}</td>
                        <td>{{time}}</td>
                        <td align="center">Pi #{{pi}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
              </table>
          </div>
          <div id="hidden" hidden>
            {{#each projects}}
              <p id="d_{{@index}}" data-pi="{{pi}}" data-mac="{{mac}}" data-time="{{time}}"></p>
            {{/each}}
          </div>
        </div>
  <hr />
</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>

